@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans"), local("DroidSans"), url(droid_sans.woff2) format("woff2");
  unicode-range: U0-0FF, U131, U152-153, U2C 6, U2DA, U2DC, U2000-206F, U2074, U20AC, U2212, U2215, UE0FF, UEFFD, UF000; }

body {
  margin: 0;
  font-family: "Droid Sans";
  background-color: #CED9BC; }

nav {
  background-color: #ABC147; }
  nav ul {
    display: inline-block;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    list-style-type: none; }
  nav i {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-left: 10px;
    color: #3C5B45; }
  nav li {
    display: inline-block; }
  nav a {
    display: block;
    font-weight: bold;
    color: #608D4E;
    text-align: center;
    padding-left: 20px;
    text-decoration: none; }
  nav a:hover {
    color: #85794D; }
  nav a:active {
    color: purple; }
